[submodule "pg_crypt4gh"]
	path = src/vault/pg_crypt4gh
	url = https://github.com/silverdaz/pg_crypt4gh.git
[submodule "libsodium"]
	path = src/vault/libsodium
	url = https://github.com/jedisct1/libsodium.git
	branch = stable
[submodule "src/vault-db/deps/librabbitmq"]
	path = src/vault-db/deps/librabbitmq
	url = https://github.com/alanxz/rabbitmq-c
	branch = 84b81cd97a1b5515d3d4b304796680da24c666d8
[submodule "src/vault-db/deps/libsodium"]
	path = src/vault-db/deps/libsodium
	url = https://github.com/jedisct1/libsodium
	branch = 3e7548c62f68909461a67f396be0494584a7aae4
[submodule "src/vault-db/deps/pg_crypt4gh"]
	path = src/vault-db/deps/pg_crypt4gh
	url = https://github.com/silverdaz/pg_crypt4gh
[submodule "src/vault-db/deps/pg_amqp"]
	path = src/vault-db/deps/pg_amqp
	url = https://github.com/silverdaz/pg_amqp
[submodule "openssh"]
	path = src/inbox/src/openssh
	url = https://github.com/openssh/openssh-portable
# 	branch = 2d98db98331803cbb820211b2fb0d31a6e71e58e #tag: V_10_3_P1
# 	branch = e8dd756725e8800fcd0b3fd71ee6b4382d1e8fab #tag: V_10_4_P1
[submodule "openssh-dist"]
	path = src/distribution/openssh/src
	url = https://github.com/openssh/openssh-portable.git
# 	branch = V_10_4_P1
[submodule "crypt4gh-sqlite"]
	path = src/distribution/crypt4gh-sqlite
	url = https://github.com/silverdaz/crypt4gh-sqlite.git
	branch = main
